.holder {
  display: flex;
  background: #bbb;
}
.tabs {
  display: flex;
}
.holder.vertical {
  flex-direction: row;
}
.tabs.vertical {
  margin-left: 10px;
  flex-direction: column;
}
.body.vertical {
  margin-left: 100px;
}
.holder.horizontal {
  flex-direction: column;
}
.tabs.horizontal {
  flex-direction: row;
  margin-left: auto;
}
.tabs.horizontal h1 {
  margin-right: 100px;
}

.body {
  margin-left: 100px;  
}
.selected {
  color: #13f;
}
.unselected {
  color: #fff;
}